extends layout


block content
    -
        const products = [{
            price: 700,
            count: 3
        }, {
            price: 80,
            count: 1
        }, {
            price: 229,
            count: 4
        }]
    .container
        main
            h1.h1 Váš nákup:

            ul.tabs
                each item in [1,2,3]
                    li.tabs__item #{item}

            .cart
                ul.cart__list
                    each product, index in products
                        li.cart__list-item
                        .cart__item.inline(data-spacing="40px")
                            .cart__item-img.inline__item
                                .placeholder
                                    <svg><line x1="0" y1="0" x2="100%" y2="100%" stroke-width="2"></line><line x1="0" y1="100%" x2="100%" y2="0" stroke-width="2"></line></svg>
                            .cart__item-text.inline__item
                                h2.h2 Product title ##{index + 1}
                                .price #{product.price} czk
                            .cart__item-count.inline__item
                                .counter
                                    .counter__text #{product.count}
                                    .counter__controls
                                        .counter__control.counter__add +
                                        .counter__control.counter__subtract -
                            .cart__item-total.inline__item #{product.price * product.count} czk
                .cart__total Spolu: 3096 czk
                .cart__navigation
                    .cart__back < Späť do obchodu
                    .cart__next Pokračovať >