extends layout

block content
    -
        const orders = [{
            id: 'a3a716c3-e4d0-459c-b877-a6a192de3473',
            assignee: 'John Doe',
            status: 'Spracúva sa'
        }, {
            id: 'b9ad43a0-748f-4078-a393-7749c7eeccdd',
            assignee: 'John Doe',
            status: 'Spracúva sa'
        }, {
            id: 'f34566bf-6cfc-467f-b7a4-aa5188e2d4cc',
            assignee: 'Tom Jerry',
            status: 'Spracúva sa'
        }, {
            id: 'f1e39be7-291a-4c6a-b39b-cf9e5c6642ad',
            assignee: 'Tom Jerry',
            status: 'Spracúva sa'
        }]
    -
        const products = [{
            price: 700,
            count: 3
        }, {
            price: 80,
            count: 1
        }, {
            price: 229,
            count: 4
        }]
    .container
        main.main.orders
            h1.h1 Objednávky
            ul.orders__categories.inline(data-spacing="20px")
                li.inline__item
                    a.orders__category Všetky
                li.inline__item |
                li.inline__item
                    a.orders__category Moje
                li.inline__item |
                li.inline__item
                    a.orders__category Nepriradené
                li.inline__item |
                li.inline__item
                    a.orders__category Spracúva sa
                li.inline__item |
                li.inline__item
                    a.orders__category Archivované

            ul.orders__list
                each order in orders
                    li.orders__list-item
                        .order.order--collapsed
                            .order__id #{order.id}
                            .order__status Stav: #{order.status}
                            .order__assignee Zodpovedná osoba: #{order.assignee}
                            .order__action ⌄

                li.orders__list-item
                    .order.order--expanded
                        .order__id d79710b8-f7d0-435a-abb7-a2b76820633e
                        .order__status Stav: Nová
                        .order__assignee Zodpovedná osoba:
                        .order__action ⌃
                    .order__details
                        .order__details-col
                            section.section
                                h3.h3 Kontaktné údaje:
                                div Patrik Medveď
                                div email: asdf@mail.com
                                div tel.: 123456789
                            section.section
                                h3.h3 Adresa:
                                div Botanická 68A
                                div 60200 Brno
                        .order__details-col
                            section.section
                                h3.h3 Nákup:
                                ul.order__details-list
                                    each product, index in products
                                        li.order__details-list-item
                                            .order__details-item
                                                .order__details-item-title #{product.count}x Product title #{index + 1}
                                                .order__details-item-total #{product.count * product.price} czk